---
layout: default
title: Home
---
<div id="titleDiv">
	<div id="titleWrapper">
		<h1>SANSGODASSE</h1>
		<h2>Vivre heureux, sans godasse.</h2>
	</div>
	<img src="{{ "/assets/images/main_img.jpg" | absolute_url }}" alt="Paysage">
</div>

<section class="content">
	<section id="welcome">
		<h3>Bienvenue !</h3>

		<p>Si vous cherchez des informations sur la course pieds nus ou minimaliste, vous êtes au bon endroit !</p>
		<p>Vous trouverez une méthode pour vous mettre à la course pieds nus sur la page <a href="{{ "/learn/learn.html" | absolute_url }}">Apprendre à courir pieds nus</a>.</p>
		<p>Je vous parle de mon expérience sur la page <a href="{{ "/about.html" | absolute_url }}">A propos</a>.</p>
		<p>Enfin vous pouvez suivre quelques actualités sur <a href="{{ "/blog.html" | absolute_url }}">le blog</a>.</p>
		<p>Bonne visite !</p>
	</section>
</section>
