<meta charset="utf-8">

<title>{{ page.title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ "/assets/css/style.css" | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/blog/css/blog.css" | absolute_url }}">

<link href="https://fonts.googleapis.com/css?family=Roboto|Shadows+Into+Light" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR|Tangerine" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

<link rel="icon" href="{{ "/assets/images/favicon.ico" | absolute_url }}" />